.b{
    
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 10px;
    
    grid-auto-rows: 150px;


}
.box{
    
    display: grid;
    font-size: 30px;
    justify-content: center ;
    align-items: center;
    
    
   
}
.box1{
    background-color: blue;
    

}
.box2{
    background-color: rgb(27, 185, 18);
    grid-column: span 2;
    grid-row: span 2;
}
.box3{
    background-color: rgb(104, 12, 24);
    grid-row: span 4;
    
    
    
    
}

.box4{
    background-color: rgb(194, 227, 61);
}
.box5{
    background-color: rgb(42, 42, 53);
}
.box6{
    background-color: rgb(29, 72, 95);
    
}
.box7{
    background-color: rgb(157, 8, 8);
   
}
.box8{
    background-color: rgb(121, 121, 223);
    
}
.box9{
    background-color: rgb(219, 50, 214);
}
.box10{
    background-color: rgb(44, 3, 56);
}
.box11{
    background-color: rgb(240, 96, 228);
    
    grid-column: span 3;
}
.box12{
    background-color: rgb(46, 10, 30);
}
